.myBrand {
  /*font-size: 35px;*/
  font-family: 'Supermercado One', cursive;
}

body {
  background: #2d2c41;
}

.navbar {
  margin:0;
}

.navbar-login {
  width: 250px;
  padding: 10px;
  padding-bottom: 0px;
}

.navbarUserProfilePic {
  height:60px;
}

.userIconClass {
  font-size:1em;
}

#indexJumbotron {
  background: url(../images/bike_bg.jpg) no-repeat center;
  background-size: cover;
  height: 95vh;
  margin:0;
  padding: 10px;
}

#editProfileContainer {
  margin-top: 35px;
  background-color: whitesmoke;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  padding: 20px 40px;
}

.panel {
  margin-top: 20px;
}

footer {
  position:fixed;
  bottom:0;
  left:0;
  height:40px;
  width: 100%;
}

#txtFooterCopyRight {
  font-size:20px;
  color: gray;
  font-family: Calibri;
}

.myPanelTitle {
  font-size: 20px;
  font-family: 'Roboto Slab';
}

.instanceOverviewRow {
  margin-left: auto;
}

.myServerOverviewListItem {
  list-style-type: none; /* remove bullet point in ul */
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.row {
  margin-top: 10px;
}

.thumbnail {
  margin-top: 20px;
  overflow: auto;
}

.thumbnail img{
   /*your styles for the image*/
  width: 100%;
  height: auto;
  display: block;
}

#id_btnCreateNewProduct {
  margin-top: 20px;
}

.productOverviewButtons btn {
  float: right;
}

.myDropdownButton {
  background-color: #222; /* same as the inverse navbar in bootstrap */
  color: white;
}

.dropdown:hover .dropdown-menu{
  display: block;
}

.row {
  margin-top: auto;
}

.usernameLink {
  margin-bottom: 1em;
}

.personal-info div {
  margin-bottom: 10px;
}

.personal-info div label {
  text-align: right;
}

.personal-info btn {
  margin: auto;
}

.personal-info .alert {
  display: none;
}

#divConfirmPassword {
  display: none;
}

#btnchangepassword {
  color: #5cb85c;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#btnDiscardChange {
  display: none;
  color: #d9534f;
}

.btnRowGroup {
  margin-top: 10px;
  text-align: center;
}
/* save changes button */
.btnRowGroup button {
  margin-right: 10px;
}
/* create product */
#divProductCreate {
  margin-top: 35px;
  background-color: whitesmoke;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  padding: 20px 40px;
}

#createProductSpan {
  margin-top: 20px;
  font-size: 2em;
}

#divProductCreate label {
  text-align: right;
}

textarea {
  overflow: scroll;
}

#buttonGroupInCreateProduct {
  margin: auto;
}

/* product detail CSS (comes from internet) */
.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
@media screen and (max-width: 996px) {
  .preview {
    margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; }
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; }

.tab-content {
  overflow: hidden; }
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s; }

.card {
  margin-top: 50px;
  background: #eee;
  /*padding: 3em;*/
  line-height: 1.5em; }

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
.size:first-of-type {
  margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
.color:first-of-type {
  margin-left: 20px; }

.add-to-cart, .like {
  background: #ff9f1a;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease; }
.add-to-cart:hover, .like:hover {
  background: #b36800;
  color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
}
/* [END] product detail CSS */

#btnCreateNewProduct {
  margin-top: 20px;
}