<!DOCTYPE html>
<html>
<head>
    <% include ../partial/head %>
</head>
<body>
    <% include ../partial/header %>
    <span style="color: red">Here is the admin page</span>

    <% include ../partial/footer %>
</body>
</html>