<!DOCTYPE html>
<html>
<head>
  <% include ../partial/head %>
</head>
<body>
<% include ../partial/header %>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2" id="divProductCreate">
      <span id="createProductSpan">Create Product</span>
      <hr /> <!-- spliter line -->
      <div class="form-horizontal col-sm-10 col-sm-offset-1"><!-- whole block -->
        <!-- success block -->
        <div id="successMessageBlock" class="hide">
        </div>
        <!-- alert block -->
        <div id="alertMessageBlock" class="hide">
        </div>
        <!-- form group for name -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="name">Product Name:</label>
          <div class="col-sm-9">
            <input class="form-control" id="name" placeholder="Product Name">
          </div>
        </div>
        <!-- form group for category -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="category">Category:</label>
          <div class="col-sm-9">
            <label class="radio-inline"><input type="radio" name="category" value="men">Men</label>
            <label class="radio-inline"><input type="radio" name="category" value="women">Women</label>
            <label class="radio-inline"><input type="radio" name="category" value="kids">Kids</label>
          </div>
        </div>
        <!-- form group for price -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="price">Unit Price:</label>
          <div class="col-sm-9">
            <input class="form-control" id="price" placeholder="Unit Price" type="number">
          </div>
        </div>
        <!-- form group for inventory -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="inventory">Inventory:</label>
          <div class="col-sm-9">
            <input class="form-control" id="inventory" placeholder="Inventory" type="number">
          </div>
        </div>
        <!-- form group for photos -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="photos">Photos:</label>
          <div class="col-sm-9">
            <input class="form-control" id="photos" placeholder="Photos" type="file">
          </div>
        </div>
        <!-- form group for desciption -->
        <div class="form-group">
          <label class="col-sm-3 control-label" for="desciption">Description:</label>
          <div class="col-sm-9">
            <textarea class="form-control" id="desciption" rows="5" placeholder="Description"></textarea>
          </div>
        </div>
        <!-- button group -->
        <div class="form-group" id="buttonGroupInCreateProduct" >
          <div class="col-sm-offset-3 col-sm-4">
            <button class="btn btn-success" id="btnCreateProduct">Create</button>
          </div>
          <div class="col-sm-4" style="text-align: center">
            <button class="btn btn-default" id="btnCancelCreatingProduct">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partial/footer %>
</body>
<script>
  $(document).ready(function () {

    function showAlert(message) {
      $('#alertMessageBlock').html('<div class="alert alert-danger alert-dismissable"><a class="panel-close close" data-dismiss="alert">×</a><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>'+ message + '</div>');
      $('#alertMessageBlock').removeClass("hide");
    }

    function showSuccessInfo(message) {
      $('#successMessageBlock').html('<div class="alert alert-success alert-dismissable"><a class="panel-close close" data-dismiss="alert">×</a><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>'+ message + '</div>');
      $('#successMessageBlock').removeClass("hide");
    }
    
    function reset() {
      $("#price").val("");
      $("#name").val("");
      $("#inventory").val("");
      $("#desciption").val("");
      $("input:checked").removeAttr("checked");
    }

    $("#btnCreateProduct").on("click", function () {
      console.log($("input[name='category']:checked").val());
      var newProduct = {
        name: $("#name").val(),
        category: $("input[name='category']:checked").val(),
        price: $("#price").val(),
        inventory: $("#inventory").val(),
        productPhotos: [],
        description: $("#desciption").val()
      }
      // validate for inventory
      if (newProduct.name == "" || newProduct.price == "" || newProduct.inventory == "" || newProduct.description == "") {
        showAlert("Please fill all blank");
        return;
      }
      if (!Number.isInteger(Number.parseFloat($("#inventory").val()))) {
        showAlert("Inventory is not an integer");
        return;
      }
      console.log("here")
      $.post("/productManagement/createProduct", newProduct, function (result) {
        if (!result.type) {
          showAlert("Cannot add this product");
        } else {
          showSuccessInfo("Add product successfully!");
          reset();
        }
      });
    });
    
    $("#btnCancelCreatingProduct").on("click", function () {
      window.location.replace("/productManagement");
    });
  });
</script>
</html>