<!DOCTYPE html>
<html>
<head>
  <% include ../partial/head %>
</head>
<body>
  <% include ../partial/header %>

  <div class="container col-lg-4 col-lg-offset-4" style="margin-top: 20px">
      <!--[START] facebook profile -->
    <div class="row">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <img src="<%= user.profilePhoto %>" alt="" class="img-rounded img-responsive" id="id_profile_image" />
          </div>
          <div class="col-sm-6 col-md-8">
            <p>
              <strong>id</strong>: <%= user._id %><br>
              <strong>email</strong>: <%= user.email %><br>
              <strong>name</strong>: <%= user.name %>
            </p>
            <p>
              <a href="/profile/edit" class="btn btn-info btn-block btn-sm">Edit</a>
            </p>
          </div>
        </div>
      </div>
    </div>
      <!-- [END] facebook profile -->
  </div>
  <% include ../partial/footer %>
</body>

</html>
